@model thewall9.data.binding.PageWeb
@{
    Layout = "~/Views/Shared/_LayoutIntern.cshtml";
    var _UrlContactSuccess = "http://" + Request.Url.Authority + Request.Url.AbsolutePath + "?contact=true";
}
<section>
    <div>
        <div class="bg-white text-center">
            <h1>
                @Html.FindValue(Model, "title")
            </h1>
            <div class="container">
                <h4 class="text-muted">
                    @Html.FindValue(Model, "subtitle")
                </h4>
            </div>
        </div>
        <div class="bg-white margin-top">
            <div class="container">
                @if (Request.QueryString["contact"] != null)
                {
                    <p class="alert alert-success text-center">
                        @Html.FindValue(Model, "contact-success")
                    </p>
                    <script>
                        console.log("Pushing Event")
                        _gaq.push(['_trackEvent', 'All', 'Contact']);
                    </script>
                }
                <div class="row">
                    <div class="col-md-3">
                        <address>
                            <label class="lead">
                                <strong>Thewall9</strong>
                            </label>
                            <br>
                            Bogotá, Colombia
                            <br>
                            <abbr title="Phone">C:</abbr> +57 (320) 863-6740
                            <br>
                            <abbr title="Phone">T:</abbr> +57 (1) 471-3619
                        </address>
                        <p>
                            @Html.FindValue(Model, "email-text")
                        </p>
                    </div>
                    <div class="col-md-9">
                        <script type="text/javascript">var submitted = false;</script>
                        <iframe name="hidden_iframe" id="hidden_iframe"
                                style="display:none;" onload="if(submitted){window.location='@_UrlContactSuccess';}"></iframe>
                        <form action="https://docs.google.com/forms/d/1ksjzIt1KJvIT59trmMq597unfO2dzuKKqTiwVZBN8dI/formResponse" method="post"
                              target="hidden_iframe" onsubmit="submitted=true;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            @Html.FindValue(Model, "name")
                                        </label>
                                        <input type="text" class="form-control" id="entry_823269835" name="entry.823269835" placeholder="@Html.FindValue(Model, "name-placeholder")" required>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            @Html.FindValue(Model, "lastname")
                                        </label>
                                        <input type="text" class="form-control" name="entry.1377698265" id="entry_1377698265" placeholder="@Html.FindValue(Model, "lastname-placeholder")" required>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            @Html.FindValue(Model, "company")
                                        </label>
                                        <input type="text" class="form-control" name="entry.469841352" id="entry_469841352" placeholder="@Html.FindValue(Model, "company-placeholder")" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            @Html.FindValue(Model, "email")
                                        </label>
                                        <input type="email" class="form-control" name="entry.1181019133" id="entry_1181019133" placeholder="@Html.FindValue(Model, "email-placeholder")" required>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            @Html.FindValue(Model, "phone")
                                        </label>
                                        <input type="text" class="form-control" name="entry.105312061" id="entry_105312061" placeholder="@Html.FindValue(Model, "phone-placeholder")" required>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            @Html.FindValue(Model, "description")
                                        </label>
                                        <textarea class="form-control" name="entry.1399328356" id="entry_1399328356" placeholder="@Html.FindValue(Model, "description-placeholder")"></textarea>
                                    </div>
                                    <input type="hidden" name="entry.1207457641" id="entry_1207457641" value="@Html.GetSourceMedium()" />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default">@Html.FindValue(Model, "contact-btn-text")</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
