@model thewall9.data.binding.PageWeb
@{
    ViewBag.HideBrand = true;
}
@*<div class="black-dot-background-overlay" ></div>*@
<section id="home">
    <div class="wrapper">
        <div class="container">
            <a href="@Html.LinkHome()" class="logo center-block">
                <img src="@Url.Content("~/wwwroot/build/images/logo-thewall9.png")" class="img-responsive" alt="thewall9">
            </a>
            <h1 class="text-center">
                @Html.FindValue(Model, "h1")
            </h1>
            <h2 class="text-center">
                <span class="rotate">
                    @Html.FindValue(Model, "h2")
                </span>
            </h2>
            <p class="text-center">
                <a class="btn btn-lg btn-default btn-on" href="@Html.FindValue(Model, "contact-btn-url")" id="contact-btn">
                    @Html.FindValue(Model, "contact-btn-text")
                </a>
            </p>
        </div>
    </div>
</section>
@section styles{
    <link href="~/wwwroot/build/css/home.vendors.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/wwwroot/build/js/home.vendors.min.js"></script>
    <script src="~/wwwroot/build/js/home.min.js"></script>
}