@model thewall9.data.binding.PageWeb
@section styles{
    <meta property="og:title" content="@Model.Page.TitlePage" />
    @if (string.IsNullOrEmpty(Model.Page.MetaDescription))
    {
        <meta property="og:description" content="@Model.Page.MetaDescription" />
    }
    <meta property="og:url" content="@Request.Url" />
    <meta property="og:image" content="@Html.FindValue(Model, "IMG")" />
    <meta property="og:site_name" content="@Html.GetSite().Site.SiteName" />
}
<section id="work">
    <header class="intro-header" style="background-image: url('@Html.FindValue(Model, "IMG")')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>@Html.FindValue(Model, "title")</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    @Html.Raw(Html.FindValue(Model, "HTML"))
                    <div class="text-center">
                        <a href="@Html.FindValue(Model, "link-url")" class="btn btn-default btn-lg btn-block">
                            @Html.FindValue(Model, "link-text")
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>


