@model thewall9.data.binding.PageWeb
<section id="work">
    <header class="intro-header" style="background-image: url('@Html.FindValue(Model, "header")')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>@Html.FindValue(Model, "title")</h1>
                        <hr class="small">
                        <span class="subheading">@Html.FindValue(Model, "subtitle")</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="work-list2">
        <div class="container-fluid">
            <div class="row">
                @{int _Cont = 0;}
                @foreach (var item in Html.FindItems(Model, "list-works"))
                {
                    <div class="col-md-4 col">
                        <div class="bg" style="background-image:url('@Html.FindValue(item, "work-img")')">
                            <a href="@Html.FindValue(item, "work-link-url")" target="_blank" class="center-block img" >
                                @*<img src="" class="img-responsive img-rounded" alt="@Html.FindValue(item, "work-name")" />*@

                                <h2 class="text-center">
                                    @Html.FindValue(item, "work-name")
                                </h2>
                                <p class="text-center">
                                    @Html.FindValue(item, "work-description")
                                </p>

                            </a>
                        </div>
                        @*<div class="text-center small">
                                <a href="@Html.FindValue(item, "work-link-url")" target="_blank">
                                    <span class="glyphicon glyphicon-link"></span>
                                    @Html.FindValue(item, "work-link-text")
                                </a>
                            </div>*@
                    </div>
                    if (_Cont % 3 == 2)
                    {
                        <div class="clearfix"></div>
                    }
                    _Cont++;
                }

            </div>
            <a href="@Html.FindValue(Model, "contact-btn-url")" class="btn btn-xl btn-default btn-on btn-block top10">
                <span class="glyphicon glyphicon-envelope "></span>
                @Html.FindValue(Model, "contact-btn-text")
            </a>
        </div>

    </div>

</section>
