@{
    ViewBag.Theme = "dark";
}
<!DOCTYPE html>
<html lang="@Html.CurrentLang()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.MetatagDescription()
    <title>@Html.TitlePageText()</title>
    @RenderSection("styles", required: false)
    <link href='~/content/min/sider.light.css' rel='stylesheet' type='text/css'>
    <link href='~/content/min/app.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo:400,800' rel='stylesheet' type='text/css'>
    <script src="~/scripts/min/modernizr.js"></script>
    @if (!Request.IsLocal)
    {
        <script type="text/javascript" src="https://mylivechat.com/chatinline.aspx?hccid=51184327"></script>
    }
    @foreach (var item in Html.GetLangs())
    {
        <link rel="alternate" hreflang="@item.Name" href="@Html.LinkUrl(item)">
    }
</head>
<body class="dark">
    @Html.GAScript_QAQ()
    @Html.Partial("_SidebarPage")
    <header>
        <a href="@Html.LinkHome()" class="logo-intern">
            <img src="@Url.Content("~/Content/images/logo-thewall9-white-big.png")" class="img-responsive" alt="thewall9">
        </a>
    </header>
    @RenderBody()
    <script src="~/scripts/min/app.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#simple-menu').sidr({
                side: 'right'
            });
        });
    </script>
</body>
</html>
