@{
    var _LayoutContent = Html.GetSite().ContentLayout;
}
<!DOCTYPE html>
<html lang="@Html.CurrentLang()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Html.MetatagDescriptionContent()" />
    <title>@Html.TitlePageText()</title>
    @RenderSection("styles", required: false)
    @if (Html.SiteHasBlog())
    {
        <link rel="alternate" type="application/rss+xml" title="RSS" href="@Html.LinkRss()">
    }

    <link href="~/wwwroot/build/css/vendors.min.css" rel="stylesheet" />
    <link href="~/wwwroot/build/css/app.min.css" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <script src="~/wwwroot/build/js/modernizr.js"></script>
    @if (!Request.IsLocal)
    {
        @*<script type="text/javascript" src="https://mylivechat.com/chatinline.aspx?hccid=51184327"></script>*@
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/56b9fa274003e62e173f3aa4/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
        </script>
        <!--End of Tawk.to Script-->
    }
</head>
<body>
    @Html.GAScript_QAQ()
    @Html.Partial("_SidebarPage")
    @RenderBody()
    <footer>
        <ul class="list-inline text-center">
            <li>
                <a href="@Html.LinkFacebook()" target="_blank">
                    <i class="fa fa-facebook-square fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="@Html.LinkTwitter()" target="_blank">
                    <i class="fa fa-twitter-square fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="@Html.LinkInstagram()" target="_blank">
                    <i class="fa fa-instagram fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="@Html.LinkGPlus()" target="_blank">
                    <i class="fa fa-google-plus-square fa-2x"></i>
                </a>
            </li>
            @if (Html.SiteHasBlog())
            {
                <li>
                    <a href="@Html.LinkRss()" target="_blank">
                        <i class="fa fa-rss-square fa-2x"></i>
                    </a>
                </li>
            }
        </ul>
        <ul class="list-inline text-center small">
            @foreach (var item in Html.GetLangs())
            {
                <li>
                    <a href="@Html.LinkUrl(item)" style="margin-left:10px;">
                        @Html.FindValue(_LayoutContent, item.Name)
                    </a>
                </li>
            }
        </ul>
        <p class="text-center small">
            @Html.FindValue(_LayoutContent, "copyright")
        </p>
    </footer>
    <script src="~/wwwroot/build/js/vendors.min.js"></script>
    <script src="~/wwwroot/build/js/app.min.js"></script>
    @RenderSection("scripts", required: false)   
</body>
</html>
