@model thewall9.data.binding.BlogPostWeb
@{
    var _Content = ViewBag.BlogContent as thewall9.data.binding.ContentBindingList;
    var _Image = string.IsNullOrEmpty(Model.FeatureImageUrl)
        ? Html.FindValue(_Content, "header").ToString()
        : Model.FeatureImageUrl;
    var _LayoutContent = Html.GetSite().ContentLayout;
    var _DisqusShortname = Html.FindValue(_Content, "disqus", true).ToString();
}
@section styles{
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:url" content="@Request.Url" />
    <meta property="og:image" content="@_Image" />
    <meta property="og:description" content="@Model.ContentPreview" />
    <meta property="og:site_name" content="@Html.GetSite().Site.SiteName" />
}
<section class="blog">
    <header class="intro-header" style="background-image: url('@_Image');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>@Model.Title</h1>
                        <h2 class="subheading">@Model.ContentPreview</h2>
                        <span class="meta">Creado el @String.Format("{0:f}", Model.DateCreated)</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    @Html.Raw(Model.Content)
                    <h4 class="text-center">COMPARTE ESTE ARTÍCULO</h4>
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style center-block top10" style="max-width:360px">
                        <a class="addthis_button_facebook_share"
                           fb:like:layout="box_count"
                           addthis:url="@Request.Url"></a>
                        <a class="addthis_button_facebook_like"
                           fb:like:layout="box_count"
                           addthis:url="@Request.Url"></a>
                        <a class="addthis_button_tweet"
                           tw:text="@Model.Title"
                           tw:count="vertical"
                           tw:via="@Html.TwitterUsername()"
                           addthis:url="@Request.Url"></a>
                        <a class="addthis_button_google_plusone"
                           g:plusone:size="tall"
                           addthis:url="@Request.Url"></a>
                        <a class="addthis_button_linkedin_counter"
                           li:counter="top"
                           addthis:url="@Request.Url"></a>
                    </div>
                    @if (Model.Tags != null && Model.Tags.Count > 0)
                    {
                        <h4 class="text-center">TAGS</h4>
                        foreach (var item in Model.Tags)
                        {
                            <a href="@Url.Action("tag", "blog", new { BlogTagName = item.BlogTagName })" class="btn btn-default btn-tag">
                                @item.BlogTagName
                            </a>
                        }
                    }
                    @if (Model.Categories != null && Model.Categories.Count > 0)
                    {
                        <h4 class="text-center">CATEGORÍAS</h4>
                        foreach (var item in Model.Categories)
                        {
                            <a href="@Url.Action("index", "blog", new { BlogCategoryFriendlyUrl = item.FriendlyUrl })" class="btn btn-default btn-tag">
                                @item.BlogCategoryName
                            </a>
                        }
                    }
                    @if (!string.IsNullOrEmpty(_DisqusShortname))
                    {
                        <h4 class="text-center">COMENTARIOS</h4>
                        <div id="disqus_thread"></div>
                    }
                </div>
            </div>
        </div>

    </article>
    <hr />
    @*@foreach (var item in Model.Categories)
        {
            <p>
                <a href="@Url.Action("index", "blog", new { BlogCategoryFriendlyUrl = item.FriendlyUrl })">@item.BlogCategoryName</a>
            </p>

        }*@
</section>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f4051b7aacecc3" async="async"></script>
@if (!string.IsNullOrEmpty(_DisqusShortname))
{
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: THIS CODE IS ONLY AN EXAMPLE * * */
        var disqus_shortname = '@_DisqusShortname'; // Required - Replace example with your forum shortname
        //var disqus_identifier = 'a unique identifier for each page where Disqus is present';
        //var disqus_title = 'a unique title for each page where Disqus is present';
        //var disqus_url = 'a unique URL for each page where Disqus is present';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
}