@model thewall9.data.binding.BlogListWeb

@{
    var _Content = ViewBag.BlogContent as thewall9.data.binding.ContentBindingList;
}
@section styles{
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
}
<section class="blog">
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('@Html.FindValue(_Content, "header")')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>
                            @Html.FindValue(_Content, "blog-title")
                        </h1>
                        <hr class="small">
                        <span class="subheading">
                            @if (ViewBag.BlogTagName != null)
                            {
                                <text>@ViewBag.BlogTagName</text>
                            }
                            else if (ViewBag.BlogCategoryFriendlyUrl != null)
                            {
                                <text>@ViewBag.BlogCategoryFriendlyUrl </text>
                            }
                            else
                            {
                                @Html.FindValue(_Content, "blog-subtitle")
                            }
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                @foreach (var item in Model.Data)
                {
                    <div class="post-preview">
                        <a href="@Url.Action("detail", "blog", new { BlogPostID = item.BlogPostID, FriendlyUrl = item.FriendlyUrl })">
                            <h2 class="post-title">
                                @Html.DisplayFor(modelItem => item.Title)
                            </h2>
                            <h3 class="post-subtitle">
                                @Html.DisplayFor(modelItem => item.ContentPreview)
                            </h3>
                        </a>
                        <p class="post-meta">Creado el @String.Format("{0:f}", item.DateCreated)</p>
                    </div>
                    <hr>
                }
                <!-- Pager -->
                @if (ViewBag.BlogTagName != null)
                {
                    @Html.PageLinks((int?)ViewBag.Page ?? 1, Model.Pages, i => Url.Action("tag", "blog", new { Page = i, BlogTagName = ViewBag.BlogTagName }))
                }
                else
                {
                    @Html.PageLinks((int?)ViewBag.Page ?? 1, Model.Pages, i => Url.Action("index", "blog", new { Page = i, BlogCategoryFriendlyUrl = ViewBag.BlogCategoryFriendlyUrl }))
                }
            </div>
        </div>
    </div>
</section>