@model thewall9.data.binding.ContentBindingList
@{
    var _ThePlayer9 = Html.Find(Model, "theplayer9");
}
@section styles{

}
@section scripts{

}
<section class="works">
    <div class="theplayer9">
        <h2>@Html.FindValue(_ThePlayer9, "title")</h2>
        <p>@Html.FindValue(_ThePlayer9, "subtitle")</p>
        <i class="separator separator-block"></i>
        <p>
            <a href="@Html.FindValue(_ThePlayer9, "url")">
                <img src="@Html.FindValue(_ThePlayer9, "img")" class="img-responsive" />
            </a>
        </p>
    </div>
    <div id="some-text">
        <div class="container">
            @Html.FindValue(Model, "some-text")
        </div>
    </div>
</section>
